
.new-tweet textarea {
  height: 30px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom-width: 5px;
  background-color: #f4f1ec;
  padding: 10px;
}

.new-tweet div {
  padding: 15px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f1ec;
}

.new-tweet button {
  border: 0;
  background-color: blue;
  color: #FFFFFF;
  border-radius: 5px;
}

.over-limit {
  color: red;
}