.tweets-container article {
  padding: 10px;
  border: 3px solid grey;
}
.tweets-container article:hover {
  box-shadow: 5px 5px 5px grey;
}

.tweets-container article footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tweets-container article h5 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.tweets-container h5 span {
  margin-left: auto;
}
.tweets-container article img {
  height: 32px;
}
.tweeter-container footer time {
  display: flex;
  justify-content: flex-start;
}
.tweets-container footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.tweets-container p {
  border-bottom: 3px solid grey;
  padding: 10px;
  margin: auto;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.fa-solid.fa-flag:hover,
.fa-solid.fa-share:hover, 
.fa-solid.fa-heart:hover {
  color: red;
}

